/* ContactUs.css - Dark Mode */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #1e1e1e; /* Dark background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .contact-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #f0f0f0; /* Light text color */
  }
  
  .contact-container p {
    color: #cccccc; /* Slightly darker light color */
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .contact-form label {
    text-align: left;
    font-size: 14px;
    color: #aaaaaa; /* Soft gray color */
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444444; /* Darker border for inputs */
    background-color: #2b2b2b; /* Dark input background */
    color: #f0f0f0; /* Light text color */
    border-radius: 4px;
    font-size: 16px;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #777777; /* Subtle placeholder color */
  }
  
  .contact-form button {
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  